<!DOCTYPE html>
{% extends "app1/base.html"%}
    {% block body_block%}
<style>
.ex1 {
  margin-bottom: 25px;
  font-weight:bold;
}
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<h1 class="ex1">INDEX PAGE</h1>
<form method="post">
    {%csrf_token%}
    {{usr.as_p}}
    <table>
        <tr>
            <td><input class="btn btn-primary" type="submit" value="Log In"></td>
            <td><a class="btn btn-success" href="{% url 'app1:newusr'%}" role="button">Register</a></td>
        </tr>
    </table>
</form>
{%endblock%}