<!DOCTYPE html>
<html lang="en">
<style>
.ex1 {
  margin-bottom: 25px;
  font-weight:bold;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>USER PAGE</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>
<body>
<div class="jumbotron">
    <h1 class="ex1">USER DETAILS</h1>
   <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">NAME</th>
      <th scope="col">EMAIL</th>
      <th scope="col">COURSE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{rec}}</td>
      <td>{{rec.Email}}</td>
      <td>{{rec.Select_Course}}</td>
    </tr>
  </tbody>
</table>
</div>
</body>
</html>